@model Registration
@{
    ViewData["Title"] = "რეგისტრაცია";
}
<style>

    label {
        display: inline-block;
      
    }

</style>

<h1>რეგისტრაცია</h1>


<div class="row" style="align-items: baseline">
    <form method="post" class="form-horizontal" role="form">
        <div asp-validation-summary="All" class="text-danger"></div>


        <div class="form-group">
            <label asp-for="Username" class="col-sm-3 control-label">მომხმარებელი</label>
            <div class="col-sm-12">
                <input asp-for="Username" type="text" id="firstName" placeholder="მომხმარებელი" class="form-control" autofocus>
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
        </div>


        <div class="form-group">
            <label asp-for="Password" class="col-sm-3 control-label">პაროლი</label>
            <div class="col-sm-12">
                <input asp-for="Password" type="Password" id="password" placeholder="პაროლი" class="form-control" name="Password">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>
        @*<div class="form-group">
        <label asp-for="ConfirmPassword" class="col-sm-3 control-label">გაიმეორე პაროლი</label>
        <div class="col-sm-12">
            <input asp-for="ConfirmPassword" type="password" id="Confirmpassword" placeholder="გაიმეორეთ პაროლი" class="form-control">
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
    </div>*@






        <button type="submit" class="btn btn-primary btn-block">Register</button>
    </form>
    <br/>

</div>
<br/>
<p>@ViewBag.Message</p>